video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}

#project h3{
    padding: 0 5rem;
}

#project h3:nth-of-type(1) {
    margin-top: unset;
}

#project section:nth-of-type(2) {
    flex-wrap: wrap;
}

span.section-title {
    transform: rotate(-0.25turn);
    width: fit-content;
    padding: 5rem 0;
    font-size: 1.5rem;
    font-weight: 100;
    position: sticky;
    z-index: 1000;
    top: 0;
}

#highlights {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#highlights iframe {
    max-width: 60%;
    max-height: 70%;
    object-fit: cover;
}

#latest-span {
    padding-top: 1.5rem;
    font-size: 1.5rem;
    display: block;
    width: clamp(300px, 80%, 800px);
}

section#project section#past-work {
    margin: 4rem 6rem;
}

section#who-we-are main {
    padding: 4rem;
}

section#who-we-are h3 {
    font-size: 4rem;
    font-weight: 700;
}

section #call-to-action {
    display: block;
    padding: 5rem 10rem;
    font-size: 6rem;
    font-weight: 400;
    height: fit-content;
    transition: 
        background-color 0.4s ease-in-out,
        color 0.4s ease-in-out;
}

#our-focus {
    margin-bottom: 10rem;
}

#our-studio{
    position: relative;
}

#studio-content {
    width: calc(100% - 50px);
    align-items: center;
}

#studio-img {
    text-align: end;
}

#studio-img img {
    width: clamp(300px, 80%, 600px);
}

#studio-message {
    width: 40%;
}

img:not(nav a img, #footer-logo){
    border-radius: 5px;
    /* box-shadow: 0 10px 20px rgb(0 0 0 / 0.2); */
    transition-property: transform, border-radius, box-shadow;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;

}

/* ANIMATION */
.past-img {
    flex-grow: 1;
    min-width: 300px;
    opacity: 0;
    text-align: center;
    transition: opacity 2s ease-in-out;
    
}

.past-img-animation:nth-of-type(1) {
    opacity: 1;
}

.past-img-animation:nth-of-type(2) {
    transition-delay: 200ms;
    opacity: 1;
}

.past-img-animation:nth-of-type(3) {
    transition-delay: 400ms;
    opacity: 1;
}

.past-img span {
    width: 300px;
    margin-top: 1rem;
    display: inline-block;
}

.focus-wrapper {
   align-items: center;
}

.focus-header:has(img) {
    text-align: center;
}

.focus-header {
    width: 100%;
}

.focus-header img {
    width: 100%;
    height: auto;
    display: block;
}

.cta-animate {
    background-color: var(--dark-color);
    color: white;
    
}

.focus-number {
    font-size: 3rem;
    font-weight: 600;
}

.focus-content header h3,
.focus-header h3 {
    font-size: 4rem;
    line-height: 1;
}

.cta-animate strong {
    color: indianred;
}

@media screen and (min-width: 480px) and (max-width: 1034px) {  
    section#who-we-are main {
        padding: 0;
    }

    section #call-to-action {
        padding: 2rem;
        font-size: 2rem;
    }

    #studio-content {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 2rem;
        width: 100%;
    }

    #studio-message{
        width: 300px;
    }

    #highlights video {
        width: 100%;
        height: 100%;

    }

    #past-work {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        padding: 0 4rem;
        gap: 2rem;
    }

    .focus-wrapper {
        flex-direction: column;
        justify-content: center;
    }

    .focus-wrapper img {
        width: 100%;
    }


    figure img {
        width: 300px;
        height: 300px;
    }
}

/* RESPONSIVE FOR PHONE */
@media screen and (max-width: 480px) {
    section#who-we-are main {
        padding: 0;
    }

    section #call-to-action {
        padding: 2rem;
        font-size: 2rem;
        margin: 0 4rem;
    }

    #studio-content {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    #studio-message{
        width: 300px;
    }

    #highlights video {
        width: 300px;
        height: 200px;
    }

    #past-work {
        flex-direction: column;
        justify-content: center;
    }

    .focus-wrapper {
        flex-direction: column;
        justify-content: center;
    }

    .focus-wrapper img {
        width: 100%;
    }


    figure img {
        width: 300px;
        height: 300px;
    }
}