/* The Modal (background) */
section.modal {
    display: none; 
    flex-direction: column;
    position: fixed;
    z-index: 9000; 
    max-width: unset;
    max-height: unset;
    color: var(--light-color);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.7);
    padding: 5rem 5rem;
}

section.modal header {
    align-self: end;
    font-size: 3rem;
}

section.modal header span {
    font-size: 3rem;
}


  
.close:hover,
.close:focus {
    color: gray;
    text-decoration: none;
    cursor: pointer;
}

.focus-wrapper {
    align-items: center;
    margin:15rem 0;
 }
 
 .focus-header:has(img) {
     text-align: center;
 }
 
 .focus-header {
     width: 100%;
 }
 
 .focus-header img {
     width: 100%;
     height: auto;
     display: block;
 }
 
 
 .focus-number {
     font-size: 5rem;
     font-weight: 600;
 }
 
 .focus-content header h3,
 .focus-header h3 {
     font-size: 4rem;
     line-height: 1;
 }