.camera-bg {
    background-image: url('../assets/aboutheader.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 5rem;
    background-size: cover;
    position: relative;
    width: 100%;
}

.camera-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  background:transparent; /* Semi-transparent overlay */
  backdrop-filter: blur(3px); 
  height: 100%;
  width: 100%;
}

.camera-bg h2 {
  z-index: 100;
}

#services main {
  flex-wrap: wrap;
}

#services header {
  flex:1 0 100%;
  text-align: left;
  padding-left: 1.5rem;
  border-left: 5px solid var(--secondary-color);
}

#services main {
  flex:1 0 100%;
  text-align: center;
}

#services main {
  justify-content: space-evenly;
  gap: 2rem;
}

header:has(#message) {
  margin: 6rem 2rem;
}

#message {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
}

.camera-card {
  width: 400px;
  flex-grow: 0;
  overflow: hidden;
  
  h4 {
    margin: 1rem 0 0 0;
  }
} 

/* ANIMATION */
.camera-card {
  opacity: 0;
  transition: opacity 2s ease-in-out;
  
}

.card-img-animation:nth-of-type(1) {
  opacity: 1;
}

.card-img-animation:nth-of-type(2) {
  transition-delay: 100ms;
  opacity: 1;
}

.card-img-animation:nth-of-type(3) {
  transition-delay: 300ms;
  opacity: 1;
}


#gallery-wrapper {
  margin: 10rem 5rem;
}

#gallery-section {
  width: 100%;
  max-width: unset;
  gap: 2rem;
  display: grid;
  /* Force 6 columns */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  /* Automatically create rows with a minimum of 250px and maximum of 1fr */
  /* grid-auto-rows: minmax(300px, 1fr) */

}

#gallery-description {
  font-size: 1.7rem;
  margin: 2rem 0;
  width: 100ch;
  display: block;

}

section article:not(.big) img.gallery {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border: none;
    border-radius: unset;
    object-fit: cover;
    transform: scale(1.2);
    transition: transform 0.3s ease; /* Smooth zoom effect */
}

section article:not(.small) img.gallery {
  width: 100%;
  height: calc(600px + 2rem);
  overflow: hidden;
  border: none;
  border-radius: unset;
  object-fit: cover;
  transform: scale(1.2);
  transition: transform 0.4s ease; /* Smooth zoom effect */
}

.gallery-card {
    height: fit-content;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    opacity: 0;
    transform: translateY(15px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    
}

.gallery-card-animation {
  opacity: 1;
  transform: translateY(0);
}

.gallery-card.big {
  grid-area: span 2 / span 2;
  flex:unset;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}

.gallery-card.small {
  grid-area: span 1 / span 1;
  flex:unset;
}

/* Add the black tint using ::after */
.gallery-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1; /* Make sure it's above the image but below the text */
}

.gallery-card img {
  height: 600px;
  width: 600px
}

.gallery-card:hover .gallery {
  transform: scale(1);
}

/* Hover effect to show the tint */
.gallery-card:hover::after,
.gallery-card:hover .hover-text {
  opacity: 1; /* Show the black tint */
  cursor: pointer;
}


/* Text styling */
.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  opacity: 0;
  z-index: 2; /* Make sure the text is above the overlay */
  transition: opacity 0.3s ease;
  text-align: center;
}
 
section.modal main {
  flex-grow: 0;
}
section.modal main.modal-content  {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--light-color);
    padding: 2rem 1rem;
    width: 80%;
 }

section.modal main.modal-content img {
    width: 70%
    
 }

 section.modal main.modal-content div {
  width: 30%;
  margin: 0;
  padding: 4rem 2rem;
  color: var(--dark-color);
}


section.modal main.modal-content h3 {
  font-size: 1.7rem;
  font-weight: 700;
  
}

section.modal main.modal-content h4 {
  font-size: 1.3rem;
  font-weight: 600;
  font-style: italic;
  margin: 1rem 0;
}


section.modal main.modal-content span {
  font-size: 1.2rem;

}

#myModal {
  /* transform: scaleY(-100%); */
  align-items: center;
  transition: display 0.6s ease-in-out;
}