#calendar-section {
    padding: 10rem 5rem;

}

#calendar-section main {
    padding-top: 3rem;
}

#calendar{
    flex-basis: 70%;
}

#calendar-form {
    flex-basis: 30%;
    max-height: fit-content;
    padding: 3.5rem 3.5rem 10rem 3.5rem;
    color: var(--light-color);
    background-color: var(--dark-color);
    border-radius: 5px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 0.2);   

}

#calendar-form h4{
    margin: 2rem 0;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
}

label {
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
}

input, select {
    margin: 0 0.5rem;
    width: 40ch;
}

#calendar-submit {
    margin-top: 3rem;
    padding: 1rem 2rem;
}

.event-title {
    font-size: 1.75rem;
    padding: 0;
    margin: 0 0 0.5rem 0;
    font-weight: 600;
}

.event-date {
    font-style: italic;
    font-size: 1.5rem;
    padding: 0;
    margin: 0 0 0.5rem 0;
    font-weight: 100;
}

/* RESPONSIVE FOR PHONE */
@media screen and (width < 800px) {
    #calendar-section main {
        flex-direction: column;
        justify-content: center;
    }

    #calendar-form {
        flex-grow: 0;
        width: fit-content;
        align-self: center;

    }
}