.slideshow-container {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#slideshow-video {
    height: 100%;
    width: 100vw;
    object-fit: cover;
}

#slideshow-footer {
   width: 100%;
   height: 30vh;
   position: absolute;
   bottom: 0px;
   left: 0px;
   background: linear-gradient(to top, #000000d4, transparent);
   padding: 3rem 4rem;
}

#slideshow-footer::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(to top, #000000cc, transparent);
    transform: translateY(100%);
    padding: 3rem 4rem;
    transition: transform 1s ease-in-out;
 }

#slideshow-footer:hover::after{ 
    transform: translateY(0);
}


button {
    background-color: unset;
    border: none;
    color: var(--light-color);
    font-size: 5rem;
    opacity: 70%;
    z-index: 2;
    transition-property: opacity;
}

button:hover {
    opacity: 100%;
}

.video {
    display: flex;
    gap: 4rem;
    flex: 1;

}
.video-information {
    color: var(--light-color);
    z-index: 2;
}

h3 {
    margin: unset;   
}

h4 {
    margin: 0.8rem 0;
}

#video-title {
    font-weight: 700;
    opacity: 0; 
    animation: slideUp 1s  ease-out forwards .5s;
}

#video-client {
    font-weight: 600;
    opacity: 0; 
    animation: slideUp 1s  ease-out forwards 1s;
}

#video-details {
    opacity: 0; 
    font-weight: 500;
    animation: slideUp 1s  ease-out forwards 1.5s;
}

.fb-40 {
    flex-basis: 40%;
}

.hidden {
    opacity: 0;
    animation: none;
}

.video-section {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 4rem 2rem;
}
 
.video-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}
 
.reverse {
    flex-direction: row-reverse;
}
 
.video iframe {
    width: 100%;
    height: 315px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 0 50%;
}
 
.video-text {
    flex: 1;
    max-width: 50%;
}
 
.video-text h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: var(--dark-color);
}
 
.video-text p {
    font-size: 1.6rem;
    color: var(--dark-color);
    line-height: 1.8;
}

@media screen and (min-width: 480px) and (max-width: 1034px) {  
    footer#slideshow-footer {
        height: fit-content;
        height: 30vh;
    }
}

/* RESPONSIVE FOR PHONE */
@media screen and (max-width: 480px) {
    footer#slideshow-footer {
       flex-direction: column;
       flex-wrap: wrap;
       height: fit-content;
       background: linear-gradient(to top, #000000f5, #00000005);
    }
    .video-actions {
        height: fit-content;
        justify-content: space-between;
        font-size: 4rem;
    }
}

