<section class="d-flex fj-space-evenly">
    <!-- Contact Us Section on the Left -->
    <article class="contact-us fb-30 text-start">
        <h3>Contact Us</h3>
        <a href="./schedule.html" class="button-light mt-3">Book With Us</a>
    </article>

    <!-- Logo in the Center -->
    <article class="logo fb-30 text-center">
        <a href="./index.html">
            <img id="footer-logo" height="150" src="./assets/logo/wordmark_logo_white.svg" alt="Night Sparrow Productions Logo">
        </a>
    </article>

    <!-- Social Media on the Right -->
    <article class="social-media fb-30 text-end">
        <h3>Social Media</h3>
        <ul class="social-media-list">
            <li><a href="https://facebook.com" target="_blank" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
            </li>
            <li><a href="https://twitter.com" target="_blank" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
            </li>
            <li><a href="https://instagram.com" target="_blank" aria-label="Instagram"><i
                        class="fab fa-instagram"></i></a></li>
            <li><a href="https://tiktok.com" target="_blank" aria-label="TikTok"><i class="fab fa-tiktok"></i></a></li>
        </ul>
    </article>
</section>

<section class="copyright">
    <p>&copy; 2024 Night Sparrow Productions. All Rights Reserved.</p>
</section>