<nav id="header-nav">
    <a class="logo" href="./index.html"><img height="60" src="./assets/logo/wordmark_logo_white.svg" alt="Night Sparrow Productions Logo"></a>
    <ul>
        <li class="full-nav"><a href="./index.html">Home</a></li>
        <li class="full-nav"><a href="./videos.html">Video/Drone</a></li>
        <li class="full-nav"><a href="./photography.html">Photography</a></li>
        <li class="full-nav"><a href="./audio.html">Audio and Recording</a></li>
        <li class="full-nav"><a href="./about.html">About Us</a></li>
        <li class="full-nav"><a class="button-light" href="./schedule.html">Book a Schedule</a></li>
        <li id="burger-nav" class="button-light"><i class="fa-solid fa-bars"></i></li>
    </ul>
</nav>

<!-- The Modal -->
<section id="menuModal" class="modal">
    <header>
        <span class="close"><i class="fa-solid fa-xmark"></i></span>
    </header>
    <!-- Modal content -->
    <div class="modal-content">
        <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./videos.html">Video/Drone</a></li>
            <li><a href="./photography.html">Photography</a></li>
            <li><a href="./audio.html">Audio and Recording</a></li>
            <li><a href="./about.html">About Us</a></li>
        </ul>
       
    </div>
</section>