<nav id="header-nav">
    <a class="logo" href="./index.html"><img height="60" src="./assets/logo/wordmark_logo_white.svg" alt="Crypta Logo"></a>
    <ul>
        <li><a href="./index.html">Home</a></li>
        <li><a href="./videos.html">Video/Drone</a></li>
        <li><a href="./photography.html">Photography</a></li>
        <li><a href="./audio.html">Audio and Recording</a></li>
        <li><a href="./about.html">About Us</a></li>
        <li><a class="button-light" href="./schedule.html">Book a Schedule</a></li>
    </ul>
</nav>